{{ 'section-homepage-hero.css' | asset_url | stylesheet_tag }}

{% javascript %}
  console.log("lolz")
{% endjavascript %}

<div class="homepage-hero-wrapper">
  <div class="homepage-hero-striped-background"></div>
  {% for block in section.blocks %}
  <div class="homepage-hero-image-wrapper">
    <div class="hh-logo-wrapper">
      {%- liquid render 'icon-amj-creations-long' -%}
    </div>
    <div class="hh-image-wrapper">
        
        {% if block.settings.hero_image_one != blank %}
          <div class="image-wrapper">
          <img
            class="image hh-image-one"
            srcset="{%- if block.settings.hero_image_one.width >= 375 -%}{{ block.settings.hero_image_one | img_url: '375x' }} 375w,{%- endif -%}
            {%- if block.settings.hero_image_one.width >= 750 -%}{{ block.settings.hero_image_one | img_url: '750x' }} 750w,{%- endif -%}
            {%- if block.settings.hero_image_one.width >= 1100 -%}{{ block.settings.hero_image_one | img_url: '1100x' }} 1100w,{%- endif -%}
            {%- if block.settings.hero_image_one.width >= 1500 -%}{{ block.settings.hero_image_one | img_url: '1500x' }} 1500w,{%- endif -%}
            {%- if block.settings.hero_image_one.width >= 1780 -%}{{ block.settings.hero_image_one | img_url: '1780x' }} 1780w,{%- endif -%}
            {%- if block.settings.hero_image_one.width >= 2000 -%}{{ block.settings.hero_image_one | img_url: '2000x' }} 2000w,{%- endif -%}
            {%- if block.settings.hero_image_one.width >= 2800 -%}{{ block.settings.hero_image_one | img_url: '2800x' }} 2800w,{%- endif -%}
            {{ block.settings.hero_image_one | img_url: 'master' }} {{ block.settings.hero_image_one.width }}w"
            sizes="100vw"
            src="{{ block.settings.hero_image_one | img_url: '400x' }}"
            alt="{{ block.settings.hero_image_one.alt | escape }}"
            loading="lazy"
            width="{{ block.settings.hero_image_one.width }}"
            height="{{ block.settings.hero_image_one.height }}"
            style="max-width: min(100%, {{ block.settings.hero_image_one.width }}px);"
          >
          </div>
          {% endif %}
        {% if block.settings.hero_image_two != blank %}
          <div class="image-wrapper-two">
          <img
            class="image hh-image-two"
            srcset="{%- if block.settings.hero_image_two.width >= 375 -%}{{ block.settings.hero_image_two | img_url: '375x' }} 375w,{%- endif -%}
            {%- if block.settings.hero_image_two.width >= 750 -%}{{ block.settings.hero_image_two | img_url: '750x' }} 750w,{%- endif -%}
            {%- if block.settings.hero_image_two.width >= 1100 -%}{{ block.settings.hero_image_two | img_url: '1100x' }} 1100w,{%- endif -%}
            {%- if block.settings.hero_image_two.width >= 1500 -%}{{ block.settings.hero_image_two | img_url: '1500x' }} 1500w,{%- endif -%}
            {%- if block.settings.hero_image_two.width >= 1780 -%}{{ block.settings.hero_image_two | img_url: '1780x' }} 1780w,{%- endif -%}
            {%- if block.settings.hero_image_two.width >= 2000 -%}{{ block.settings.hero_image_two | img_url: '2000x' }} 2000w,{%- endif -%}
            {%- if block.settings.hero_image_two.width >= 2800 -%}{{ block.settings.hero_image_two | img_url: '2800x' }} 2800w,{%- endif -%}
            {{ block.settings.hero_image_two | img_url: 'master' }} {{ block.settings.hero_image_two.width }}w"
            sizes="100vw"
            src="{{ block.settings.hero_image_two | img_url: '400x' }}"
            alt="{{ block.settings.hero_image_two.alt | escape }}"
            loading="lazy"
            width="{{ block.settings.hero_image_two.width }}"
            height="{{ block.settings.hero_image_two.height }}"
            style="max-width: min(100%, {{ block.settings.hero_image_two.width }}px);"
          >
          </div>
          {% endif %}
        </div>
        <div class="hh-hero-text">
          <div class="hero-text-one">{{ block.settings.hero-text-one }}</div>
          <div class="hero-text-two">{{ block.settings.hero-text-two }}</div>
        </div>
      </div>
    {% endfor %}
</div>

{% schema %}
{
  "name": "t:sections.homepage-hero.name",
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "hero_image_one",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "hero_image_two",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "hero-text-one",
          "label": "Hero Text One"
        },
        {
          "type": "text",
          "id": "hero-text-two",
          "label": "Hero Text Two"
        }
      ]
    }
  ]
}
{% endschema %}