{{ 'section-homepage-hero.css' | asset_url | stylesheet_tag }}

<div class="homepage-hero-wrapper">
  <div class="homepage-hero-image-wrapper">
    <div class="hh-logo-wrapper">logo-wrapper</div>
    <div class="hh-image">
      {%- if section.blocks.settings.image != blank -%}
        <img
          srcset="{%- if block.settings.image.width >= 375 -%}{{ section.settings.image | img_url: '375x' }} 375w,{%- endif -%}
          {%- if block.settings.image.width >= 750 -%}{{ block.settings.image | img_url: '750x' }} 750w,{%- endif -%}
          {%- if block.settings.image.width >= 1100 -%}{{ block.settings.image | img_url: '1100x' }} 1100w,{%- endif -%}
          {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
          {%- if block.settings.image.width >= 1780 -%}{{ block.settings.image | img_url: '1780x' }} 1780w,{%- endif -%}
          {%- if block.settings.image.width >= 2000 -%}{{ block.settings.image | img_url: '2000x' }} 2000w,{%- endif -%}
          {%- if block.settings.image.width >= 3000 -%}{{ block.settings.image | img_url: '3000x' }} 3000w,{%- endif -%}
          {%- if block.settings.image.width >= 3840 -%}{{ block.settings.image | img_url: '3840x' }} 3840w,{%- endif -%}
          {{ block.settings.image | img_url: 'master' }} {{ block.settings.image.width }}w"
          sizes="100vw"
          src="{{ block.settings.image | img_url: '400x' }}"
          alt="{{ block.settings.image.alt | escape }}"
          loading="lazy"
          width="{{ block.settings.image.width }}"
          height="{{ block.settings.image.height }}"
          style="max-width: min(100%, {{ block.settings.image_width }}px);"
        >
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.homepage-hero.name",
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ]
}
{% endschema %}